<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/elementui/theme/index.css"/>

</head>
<body style="margin: 2px;height: 520px">
<div id="tb">
    <el-row>
        <el-col :span="3">
            <div class="grid-content bg-purple">
                <el-button type="primary" icon="el-icon-circle-plus" @click="handleAdd">添加</el-button>
            </div>
        </el-col>
    </el-row>
    <el-table :data="table.tableData" style="width: 100%"  height="550" border>
        <el-table-column label="ID" width="70">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.id }}</span>
            </template>
        </el-table-column>
        <el-table-column label="角色名称" width="140">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.roleName }}</span>
            </template>
        </el-table-column>
        <el-table-column label="角色编码" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.roleCode }}</span>
            </template>
        </el-table-column>
        <el-table-column label="备注" width="140">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.remark }}</span>
            </template>
        </el-table-column>
        <el-table-column label="权限" width="120">
            <template slot-scope="scope">
                <el-button type="primary" @click="setPermissionList(scope.row.id)">查看权限</el-button>
            </template>
        </el-table-column>
        <el-table-column label="更新时间" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.gmtModified }}</span>
            </template>
        </el-table-column>
        <el-table-column label="创建时间" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.gmtCreate }}</span>
            </template>
        </el-table-column>

        <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="primary"
                        icon="el-icon-edit"
                        @click="handleEdit(scope.row)"
                >编辑
                </el-button>
                <el-popconfirm
                        confirm-button-text='确认删除'
                        @confirm="handleDelete(scope.row)"
                        cancel-button-text='取消'
                        icon="el-icon-info"
                        icon-color="red"
                        title="这是一段内容确定删除吗？"
                >
                    <el-button
                            size="mini"
                            type="danger"
                            slot="reference"
                            icon="el-icon-delete"
                    >删除
                    </el-button>
                </el-popconfirm>

            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="prev, pager, next"
            :page-size="table.pageSize"
            :total="table.totalNums"
            :current-page="table.currentPage"
            @current-change="changepage"
    >
    </el-pagination>
    <el-dialog :title="roleDialog.dialogTitle" :visible.sync="roleDialog.dialogFormVisible">
        <el-form :model="aclRole">
            <el-form-item label="角色名称" :label-width="roleDialog.formLabelWidth">
                <el-input v-model="aclRole.roleName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="备注" :label-width="roleDialog.formLabelWidth">
                <el-input v-model="aclRole.remark" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="roleDialog.dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveOrCreate">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog :title="permissionDialog.dialogTitle" :visible.sync="permissionDialog.dialogFormVisible">
        <el-tree
                :data="permissionDialog.permissionList"
                show-checkbox
                default-expand-all
                node-key="id"
                ref="tree"
                highlight-current
                :props="permissionDialog.defaultProps">
        </el-tree>
        <div slot="footer" class="dialog-footer">
            <el-button @click="permissionDialog.dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="changeRolePermission">确 定</el-button>
        </div>
    </el-dialog>
</div>

</body>
<script src="../../../assets/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../assets/css/elementui/elementui.js"></script>
<script src="../../../assets/js/axios.js"></script>
<script>
    var aclRole={
        id:null,
        roleName:"",
        remark:"",
    }
    var table={
        tableData: [],
        totalNums: 0,
        pageSize: 10,
        currentPage: 1,
    }
    var permissionDialog={
        roleId:null,
        dialogFormVisible: false,
        dialogTitle: '',
        formLabelWidth: '120px',
        permissionList:[],
        defaultProps: {
            children: 'children',
            label: 'label'
        },
    }
    var roleDialog={
        dialogFormVisible: false,
        dialogTitle: '',
        formLabelWidth: '120px',
        permissionList:[],
    }
    var data = {
        table:table,
        roleDialog:roleDialog,
        permissionDialog:permissionDialog,
        aclRole:aclRole,
        permissionList:[],


    }
    var app = new Vue({
        el: "#tb",
        data: data,
        created() {
            this.getData();
        },
        methods: {
            getData() {
                //初始化当前页面
                axios.all([
                    axios.get('http://localhost:8002/aclRole/getPageList',{
                        params:{'pageSize': this.table.pageSize,
                            'pageNum': this.table.currentPage
                        }}),
                    axios.get('http://localhost:8002/aclPermission/getTreeList',{
                        params:{
                            "pid":'0'
                        }})
                ]).then(
                    axios.spread((roleList,permissionList)=>{
                        var rList = roleList.data
                        var pList = permissionList.data
                        if (rList.success){
                            this.table.tableData=rList.data.aclRolePage.list
                            console.log(rList.data.aclRolePage.list)
                            this.table.totalNums = rList.data.aclRolePage.total;
                            this.table.pageSize = rList.data.aclRolePage.pageSize;
                            this.table.currentPage = rList.data.aclRolePage.pageNum;
                        }else {
                            this.changepage(this.currentPage - 1)
                        }
                        if (pList.success){
                            this.permissionDialog.permissionList=pList.data.aclPermissionOptions
                        }else {
                            this.$message.error(pList.message);
                        }
                    })
                )
            },
            handleAdd(){
                //点击添加按钮，初始化所有数据
                this.aclRole.id=null
                this.aclRole.roleName=""
                this.aclRole.remark=""
                this.roleDialog.dialogTitle='添加'
                this.roleDialog.dialogFormVisible=true

            },
            handleEdit(row){
                //点击修改按钮，初始化所有数据
                this.aclRole.id=row.id
                this.aclRole.roleName=row.roleName
                this.aclRole.remark=row.remark
                this.roleDialog.dialogTitle='修改'
                this.roleDialog.dialogFormVisible=true
            },
            saveOrCreate(){
            //    添加或修改
                axios.post('http://localhost:8002/aclRole/createOrUpdate', {
                    "id":this.aclRole.id,
                    "roleName":this.aclRole.roleName,
                    "remark":this.aclRole.remark
                }).then((res) => {
                    var data = res.data;
                    console.log(res)
                    if (data.success) {
                        this.$message({
                            message: data.message,
                            type: 'success'
                        });
                    } else {
                        this.$message.error(data.message);
                    }
                })
            //    关闭dialog
                this.roleDialog.dialogFormVisible = false
                this.getData();
            },
            handleDelete(row){
            //    table的删除
            },
            setPermissionList(id){
                this.permissionDialog.roleId=id;
                this.permissionDialog.dialogFormVisible = true;
                axios.get('http://localhost:8002/aclRolePermission/getPermissionIdList', {
                    params: {
                        "roleId":id,
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.success) {
                        this.$refs.tree.setCheckedKeys(data.data.permissionIdList);
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            changeRolePermission(){
                var list = this.$refs.tree.getHalfCheckedKeys() + this.$refs.tree.getCheckedKeys(true)
                axios.post('http://localhost:8002/aclRolePermission/setRolePermission', {
                    "id":this.permissionDialog.roleId,
                    "permissionIds":this.$refs.tree.getCheckedKeys(),
                }).then((res) => {
                    var data = res.data;
                    if (data.success) {
                        this.$message({
                            message: data.message,
                            type: 'success'
                        });
                    } else {
                        this.$message.error(data.message);
                    }
                })
                this.$refs.tree.setCheckedKeys([]);
                this.permissionDialog.dialogFormVisible = false;
                this.getData();
            },
            changepage(currentPage){
            //    分页
                this.currentPage = currentPage;
                this.getData();
            }
        },
    });
</script>
</html>