<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="GBK"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/elementui/theme/index.css"/>

</head>
<body style="margin: 2px;height: 520px">
<div id="tb">
    <el-row>
        <el-col :span="3">
            <div class="grid-content bg-purple">
                <el-button type="primary" icon="el-icon-circle-plus" @click="handleAdd">添加</el-button>
            </div>
        </el-col>
    </el-row>
    <el-table :data="table.tableData" style="width: 100%"  height="550" border>
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column label="ID" width="70">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.id }}</span>
            </template>
        </el-table-column>
        <el-table-column label="账号" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.username }}</span>
            </template>
        </el-table-column>
        <el-table-column label="昵称" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.nickName }}</span>
            </template>
        </el-table-column>
        <el-table-column label="头像" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.salt }}</span>
            </template>
        </el-table-column>
        <el-table-column label="用户签名" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.token }}</span>
            </template>
        </el-table-column>
        <el-table-column label="用户角色" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.token }}</span>
            </template>
        </el-table-column>
        <el-table-column label="更新时间" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.gmtModified }}</span>
            </template>
        </el-table-column>
        <el-table-column label="创建时间" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.gmtCreate }}</span>
            </template>
        </el-table-column>

        <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="primary"
                        icon="el-icon-edit"
                        @click="handleEdit(scope.row)"
                >编辑
                </el-button>
                <el-popconfirm
                        confirm-button-text='确认删除'
                        @confirm="handleDelete(scope.row)"
                        cancel-button-text='取消'
                        icon="el-icon-info"
                        icon-color="red"
                        title="这是一段内容确定删除吗？"
                >
                    <el-button
                            size="mini"
                            type="danger"
                            slot="reference"
                            icon="el-icon-delete"
                    >删除
                    </el-button>
                </el-popconfirm>

            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="prev, pager, next"
            :page-size="table.pageSize"
            :total="table.totalNums"
            :current-page="table.currentPage"
            @current-change="changepage"
    >
    </el-pagination>
    <el-dialog :title="userDialog.dialogTitle" :visible.sync="userDialog.dialogFormVisible">
        <el-form :model="aclUser">
            <el-form-item label="账号" :label-width="userDialog.formLabelWidth">
                <el-input v-model="aclUser.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="昵称" :label-width="userDialog.formLabelWidth">
                <el-input v-model="aclUser.nickName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="头像" :label-width="userDialog.formLabelWidth">
                <el-input v-model="aclUser.salt" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户角色" :label-width="userDialog.formLabelWidth">
                <el-input v-model="aclUser.username" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="userDialog.dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveOrCreate">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog :title="permissionDialog.dialogTitle" :visible.sync="permissionDialog.dialogFormVisible">
        <el-tree
                :data="permissionDialog.permissionList"
                show-checkbox
                default-expand-all
                node-key="id"
                ref="setPermissionTree"
                highlight-current
                :props="permissionDialog.defaultProps">
        </el-tree>
        <div slot="footer" class="dialog-footer">
            <el-button @click="permissionDialog.dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="changeUserPermission">确 定</el-button>
        </div>
    </el-dialog>
</div>

</body>
<script src="../../../assets/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../assets/css/elementui/elementui.js"></script>
<script src="../../../assets/js/axios.js"></script>
<script>
    var aclUser={
        id:null,
        username:"",
        nickName:"",
        salt:"",
        roleId:"",
    }
    var table={
        tableData: [],
        permissionList:[],
        defaultProps: {
            children: 'children',
            label: 'label'
        },
        totalNums: 0,
        pageSize: 10,
        currentPage: 1,
    }
    var userDialog={
        dialogFormVisible: false,
        dialogTitle: '',
        formLabelWidth: '120px'
    }
    var permissionDialog={
        permissionList: [],
        dialogFormVisible: false,
        dialogTitle: '修改权限',
        defaultProps: {
            children: 'children',
            label: 'label'
        },
    }
    var data = {
        table:table,
        userDialog:userDialog,
        aclUser:aclUser,
        aclUser_permission:[],
    }
    var app = new Vue({
        el: "#tb",
        data: data,
        created() {
            this.getData();
        },
        methods: {
            getData() {
                //初始化当前页面
                axios.get('http://localhost:8002/aclUser/getPageList', {
                    params: {
                        'pageSize': this.table.pageSize,
                        'pageNum': this.table.currentPage,
                    }
                }).then((res) => {
                    var data = res.data;
                    console.log(res)
                    if (data.success) {
                        var pageUtils = data.data.aclUserPage;
                        this.table.tableData = pageUtils.list;
                        console.log(this.tableData)
                        this.table.totalNums = pageUtils.total;
                        this.table.pageSize = pageUtils.pageSize;
                        this.table.currentPage = pageUtils.pageNum;
                    } else {
                        this.changepage(this.currentPage - 1)
                    }
                })

            },
            handleAdd(){
                //    初始化增加的dialog
            },
            handleEdit(row){
                //    初始化修改的dialog
            },
            saveOrCreate(){
                //    添加或修改
                //    关闭dialog
            },
            handleDelete(row){
                //    table的删除
            },
            getPermissionList(id){
                // this.$refs.setPermissionTree.setCheckedKeys([3]);
            },
            changeUserPermission(){
                //    修改权限
            },
            changepage(){
                //    分页
            }
        },
    });
</script>
</html>