<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/elementui/theme/index.css"/>

</head>
<body style="margin: 2px;height: 520px">
<div id="tb">
    <el-row>
        <el-col :span="3">
            <div class="grid-content bg-purple">
                <el-button type="primary" icon="el-icon-circle-plus" @click="handleAdd">添加</el-button>
            </div>
        </el-col>
    </el-row>
    <el-table :data="table.tableData" style="width: 100%"  height="550" border>
        <el-table-column label="ID" width="70">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.id }}</span>
            </template>
        </el-table-column>
        <el-table-column label="账号" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.username }}</span>
            </template>
        </el-table-column>
        <el-table-column label="昵称" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.nickName }}</span>
            </template>
        </el-table-column>
        <el-table-column label="头像" width="180">
            <template slot-scope="scope">
                <el-image
                        style="width: 100px; height: 100px"
                        :src="scope.row.salt"
                        fit="fill"></el-image>
            </template>
        </el-table-column>
        <el-table-column label="用户签名" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.token }}</span>
            </template>
        </el-table-column>
        <el-table-column label="用户角色" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">
                    {{showRole(scope.row.roleId)}}
                </span>
            </template>
        </el-table-column>
        <el-table-column label="更新时间" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.gmtModified }}</span>
            </template>
        </el-table-column>
        <el-table-column label="创建时间" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.gmtCreate }}</span>
            </template>
        </el-table-column>

        <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="primary"
                        icon="el-icon-edit"
                        @click="handleEdit(scope.row)"
                >编辑
                </el-button>
                <el-popconfirm
                        confirm-button-text='确认删除'
                        @confirm="handleDelete(scope.row)"
                        cancel-button-text='取消'
                        icon="el-icon-info"
                        icon-color="red"
                        title="这是一段内容确定删除吗？"
                >
                    <el-button
                            size="mini"
                            type="danger"
                            slot="reference"
                            icon="el-icon-delete"
                    >删除
                    </el-button>
                </el-popconfirm>

            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="prev, pager, next"
            :page-size="table.pageSize"
            :total="table.totalNums"
            :current-page="table.currentPage"
            @current-change="changepage"
    >
    </el-pagination>
    <el-dialog :title="userDialog.dialogTitle" :visible.sync="userDialog.dialogFormVisible">
        <el-form :model="aclUser">
            <el-form-item label="账号" :label-width="userDialog.formLabelWidth">
                <el-input v-model="aclUser.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="昵称" :label-width="userDialog.formLabelWidth">
                <el-input v-model="aclUser.nickName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="头像" :label-width="userDialog.formLabelWidth">
                <el-input v-model="aclUser.salt" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户角色" :label-width="userDialog.formLabelWidth">
                <el-select v-model="aclUser.roleId" placeholder="请选择">
                    <el-option
                            v-for="item in userDialog.roleList"
                            :key="item.id"
                            :label="item.roleName"
                            :value="item.id">
                    </el-option>
                </el-select>
<!--                <el-input v-model="aclUser.roleId" autocomplete="off"></el-input>-->
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="userDialog.dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveOrCreate">确 定</el-button>
        </div>
    </el-dialog>
</div>

</body>
<script src="../../../assets/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../assets/css/elementui/elementui.js"></script>
<script src="../../../assets/js/axios.js"></script>
<script>
    var aclUser={
        id:null,
        username:"",
        nickName:"",
        salt:"",
        roleId:"",
    }
    var table={
        tableData: [],
        totalNums: 0,
        pageSize: 10,
        currentPage: 1,
    }
    var userDialog={
        roleList:[],
        dialogFormVisible: false,
        dialogTitle: '',
        formLabelWidth: '120px'
    }
    var data = {
        table:table,
        userDialog:userDialog,
        aclUser:aclUser,
    }
    var app = new Vue({
        el: "#tb",
        data: data,
        created() {
            this.getData();
        },
        methods: {
            getData() {
                //初始化当前页面
                axios.all([
                    //获取全部管理员用户
                    axios.get('http://localhost:8002/aclUser/getPageList',{
                        params:{
                            'pageSize': this.table.pageSize,
                            'pageNum': this.table.currentPage
                        }}),
                    //获取全部角色
                    axios.get('http://localhost:8002/aclRole/getPageList')
                ]).then(
                    axios.spread((userList,roleList)=>{
                        var userListData = userList.data
                        var roleListData = roleList.data
                        if (userListData.success){
                            this.table.tableData=userListData.data.aclUserPage.list;
                            this.table.pageSize=userListData.data.aclUserPage.pageSize
                            this.table.pageNum=userListData.data.aclUserPage.pageNum
                        }else {
                            this.changepage(this.currentPage - 1)
                        }
                        if (roleListData.success){
                            console.log(roleListData.data.aclRoleList)
                            this.userDialog.roleList=roleListData.data.aclRoleList

                        }else {
                            this.$message.error(roleListData.message);
                        }
                    })
                )
            },
            handleAdd(){
                //    初始化增加的dialog
                this.aclUser.id=null;
                this.aclUser.    username="";
                this.aclUser.    nickName="";
                this.aclUser.    salt="";
                this.aclUser.    roleId="";
                this.userDialog.dialogTitle="添加";
                this.userDialog.dialogFormVisible=true;
            },
            handleEdit(row){
                //    初始化修改的dialog
                this.aclUser.id=row.id;
                this.aclUser.username=row.username;
                this.aclUser.nickName=row.nickName;
                this.aclUser.salt=row.salt;
                this.aclUser.roleId=row.roleId;
                this.userDialog.dialogTitle="修改";
                this.userDialog.dialogFormVisible=true;
            },
            saveOrCreate(){
                //    添加或修改
                axios.post('http://localhost:8002/aclUser/createOrUpdate', {
                    "id":this.aclUser.id,
                    "username":this.aclUser.username,
                    "nickName":this.aclUser.nickName,
                    "salt":this.aclUser.salt,
                    "roleId":this.aclUser.roleId,
                }).then((res) => {
                    var data = res.data;
                    if (data.success) {
                        this.$message({
                            message: data.message,
                            type: 'success'
                        });
                    } else {
                        this.$message.error(data.message);
                    }
                    this.userDialog.dialogFormVisible = false
                    this.getData();
                })
                //    关闭dialog
            },
            handleDelete(row){
                //    table的删除
            },
            changepage(){
                //    分页
            },
            showRole(id){
                var number = this.userDialog.roleList.findIndex((role) => role.id === id);
                return this.userDialog.roleList[number]['roleName']
            }

        },
    });
</script>
</html>