<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/elementui/theme/index.css"/>


</head>
<body style="margin: 2px;height: 100%">


<div id="tb">

    <el-row>
        <el-col :span="3">
            <!--添加-->
            <el-button type="primary" @click="insertOneBIZ" icon="el-icon-circle-plus">添加商家</el-button>
        </el-col>

        <el-col :span="3">
            <!--批量删除-->
            <el-popconfirm
                    confirm-button-text='好的'
                    cancel-button-text='不用了'
                    icon="el-icon-info"
                    icon-color="red"
                    title="确定删除吗？"
                    @confirm="deleteMany"
            >
                <!--批量删除-->
                <el-button type="danger" icon="el-icon-delete" slot="reference">批量删除</el-button>
            </el-popconfirm>
        </el-col>

        <el-col :span="5">
            <el-input v-model="searchContent" placeholder="搜索商家"></el-input>
        </el-col>


        <el-col :span="3">
            <!--模糊查询-->
            <el-button @click="searchBIZs" type="info" icon="el-icon-search" circle></el-button>
        </el-col>

        <el-col :span="1" >
            <el-button @click="all" type="info"  >显示所有</el-button>
        </el-col>


    </el-row>


    <el-dialog
            :title="title"
            :visible.sync="dialogVisible"
            width="30%">
        <el-form ref="form" :model="form">
            <el-form-item label="商家名称">
                <el-input v-model="form.bizName"></el-input>
            </el-form-item>
            <el-form-item label="商家地址">
                <el-input v-model="form.bizSite"></el-input>
            </el-form-item>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="updateOneBIZ">确 定</el-button>
  </span>
    </el-dialog>


    <!--列表-->
    <el-table
            :data="tableData"
            style="width: 100%"

            @selection-change="handleSelectionChange">>
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                fixed
                prop="id"
                label="id"
                width="50">
        </el-table-column>
        <el-table-column
                prop="bizName"
                label="商家名称"
                width="200">
        </el-table-column>
        <el-table-column
                prop="bizSite"
                label="商家地址"
                width="200">
        </el-table-column>
        <el-table-column
                prop="createTime"
                label="创建时间"
                width="220">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="200">
            <template slot-scope="scope">
                <el-button @click="edit(scope.row)" type="primary" icon="el-icon-edit" circle></el-button>
                <el-popconfirm
                        confirm-button-text='好的'
                        cancel-button-text='不用了'
                        icon="el-icon-info"
                        icon-color="red"
                        title="这是一段内容确定删除吗？"
                        @confirm="deleteOne(scope.row)"
                >
                    <!--<el-button slot="reference">删除</el-button>-->
                    <el-button type="danger" icon="el-icon-delete" slot="reference" circle></el-button>
                </el-popconfirm>
            </template>
        </el-table-column>
    </el-table>

    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>
</div>

</body>
<script src="../../../assets/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../../../assets/js/axios.js"></script>


<script>

    window.onload = function () {
        var vue = new Vue({
            el: '#tb',
            data: {
                tableData: [],
                dialogVisible: false,
                form: {
                    id: '',
                    bizName: '',
                    bizSite: '',
                },
                currentPage: 1,
                pageSize: 5,
                total: '',


                multipleSelection: [],
                ids: '',

                title: '',
                message1: '',
                message2: '',

                userSearch:false,
                searchContent:'',

            },
            created() {
                this.axios01();
            },

            methods: {
                handleSizeChange(val) {
                    this.pageSize = val
                    if (this.userSearch == true){
                        this.searchBIZs();
                    }


                },
                handleCurrentChange(val) {
                    this.currentPage=val;
                    // if (this.userSearch == true && this.currentPage ==1){
                    //     this.searchBIZs();
                    // }
                    // if (this.userSearch == true && this.currentPage !=1){
                    //     this.currentPage=1;
                    //     this.searchBIZs();
                    // }
                    this.searchBIZs();
                },

                all(){
                    this.searchContent='';
                    this.axios01();
                },

                axios01() {
                    axios({
                        method: 'POST',
                        url: "/biz/pageBIZ",
                        params: {
                            pageNo: this.currentPage,
                            pageSize: this.pageSize,
                        }
                    }).then((result) => {
                            console.log(result);
                            this.tableData = result.data.data.pageInfo.list;
                            this.total = result.data.data.pageInfo.total;
                        }
                    )
                },


                searchBIZs() {

                    axios({
                        method: 'post',
                        url: "/biz/searchBIZs",
                        params: {
                            bizName: this.searchContent,
                            pageNo: this.currentPage,
                            pageSize: this.pageSize,
                        }
                    }).then(result => {
                        this.tableData = result.data.data.pageInfo.list;
                        this.total = result.data.data.pageInfo.total;
                        this.userSearch=true;
                    })
                },

                handleClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            done();
                        })
                        .catch(_ => {
                        });
                },


                insertOneBIZ() {
                    this.title = '添加商家';
                    this.form.id = '';
                    this.form.bizName = '';
                    this.form.bizSite = '';
                    this.message1 = "数据添加成功";
                    this.message2 = "数据添加失败"
                    this.dialogVisible = true;
                },

                updateOneBIZ() {
                    axios({
                        method: 'GET',
                        url: "/biz/updateBIZ",
                        params: {
                            id: this.form.id,
                            bizName: this.form.bizName,
                            bizSite: this.form.bizSite,
                        }
                    }).then((result) => {
                            console.log(result);
                            if (result.data.code === 20000) {

                                this.$message({
                                    showClose: true,
                                    type: 'success',
                                    message: this.message1,
                                });
                                this.dialogVisible = false;
                                this.axios01();
                            } else {
                                this.$message({
                                    showClose: true,
                                    message: this.message2,
                                    type: 'error',
                                });
                            }
                        }
                    )
                },


                handleSelectionChange(val) {
                    this.multipleSelection = val;
                    let ids = '';
                    this.multipleSelection.forEach(function (e) {
                        ids = ids + e.id + ",";
                    })
                    this.ids = ids;
                },

                deleteMany() {

                    // let ids =JSON.stringify(this.multipleSelection) ;

                    axios({
                        method: "post",
                        url: "/biz/deleteBIZs",
                        params: {
                            ids: this.ids
                        }
                    }).then((result) => {
                        if (result.data.code === 20000) {

                            this.$message({
                                showClose: true,
                                type: 'success',
                                message: '删除成功'
                            });
                            this.dialogVisible = false;
                            this.axios01();
                        } else {
                            this.$message({
                                showClose: true,
                                message: '删除失败',
                                type: 'error'
                            });
                        }

                    })
                },


                deleteOne(row) {

                    axios({
                        method: "post",
                        url: "/biz/deleteBIZ",
                        params: {
                            id: row.id,
                        }
                    }).then((result) => {
                        if (result.data.code === 20000) {

                            this.$message({
                                showClose: true,
                                type: 'success',
                                message: result.data.message,
                            });

                            this.axios01();
                        } else {
                            this.$message({
                                showClose: true,
                                message: result.data.message,
                                type: 'error',
                            });
                        }
                    })
                },


                edit(row) {

                    //console.log(row);
                    this.title = "修改商家信息";
                    this.form.id = row.id;
                    this.form.bizName = row.bizName;
                    this.form.bizSite = row.bizSite;
                    this.message1 = "数据修改成功";
                    this.message2 = "数据修改失败";
                    this.dialogVisible = true;

                },





            }
        })
    }


</script>
</html>