<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8d"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/elementui/theme/index.css"/>

</head>
<body style="margin: 2px;height: 100%">
<div id="tb">
    <el-row>
        <el-col :span="3">
            <div class="grid-content bg-purple">
                <el-button type="primary" icon="el-icon-circle-plus" @click="handleAdd">添加</el-button>
            </div>
        </el-col>
        <el-col :span="3">
            <div class="grid-content bg-purple">
                <el-button type="primary" icon="el-icon-delete">批量删除</el-button>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="demo-input-suffix">
                <el-input
                        placeholder="请输入内容"
                        v-model="key">
                </el-input>
            </div>
        </el-col>
        <el-button type="primary" icon="el-icon-search" @click="getData">查询</el-button>
    </el-row>
    <el-table :data="tableData" style="width: 100%"  height="550" border>
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column label="ID" width="70">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.id }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品编号" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.goodsNo }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品名" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.goodsName }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品图片" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.goodsImg }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品简介" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.goodsDesc }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品类型" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.gtype.typeName }}</span>
            </template>
        </el-table-column>

        <el-table-column label="商品点击量" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.pv }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品价格" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.goodsPrice }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品状态" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.state }}</span>
            </template>
        </el-table-column>
        <el-table-column label="商品卖家" width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.biz.bizName }}</span>
            </template>
        </el-table-column>

        <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="primary"
                        icon="el-icon-edit"
                        @click="handleEdit(scope.row)"
                >编辑
                </el-button>
                <el-popconfirm
                        confirm-button-text='确认删除'
                        @confirm="handleDelete(scope.row)"
                        cancel-button-text='取消'
                        icon="el-icon-info"
                        icon-color="red"
                        title="这是一段内容确定删除吗？"
                >
                    <el-button
                            size="mini"
                            type="danger"
                            slot="reference"
                            icon="el-icon-delete"
                    >删除
                    </el-button>
                </el-popconfirm>

            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="prev, pager, next"
            :page-size="pageSize"
            :total="totalNums"
            :current-page="currentPage"
            @current-change="changepage"
    >
    </el-pagination>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
        <el-form :model="goods">
            <el-form-item label="商品名" :label-width="formLabelWidth">
                <el-input v-model="goods.goodsName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品简介" :label-width="formLabelWidth">
                <el-input v-model="goods.goodsIntro" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品类型" :label-width="formLabelWidth">
                <el-cascader
                        v-model="goods.gtypeId"
                        :options="createOrUpdate.gtypeOptions"
                        :value="createOrUpdate.gtypeOptions.id"
                        :label="createOrUpdate.gtypeOptions.typeName"
                ></el-cascader>
            </el-form-item>
            <el-form-item label="商家" :label-width="formLabelWidth">
                <el-select v-model="goods.bizId" placeholder="请选择">
                    <el-option
                            v-for="item in createOrUpdate.bizOptions"
                            :key="item.id"
                            :label="item.bizName"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="商品数量" :label-width="formLabelWidth">
                <el-input v-model="goods.goodsSum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" :label-width="formLabelWidth">
                <el-input v-model="goods.goodsPrice" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品封面" :label-width="formLabelWidth">
                <el-input v-model="goods.goodsImg" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveOrCreate">确 定</el-button>
        </div>
    </el-dialog>
</div>

</body>
<script src="../../../assets/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../assets/css/elementui/elementui.js"></script>
<script src="../../../assets/js/axios.js"></script>
<script>
    var goods={
        id:null,
        goodsName:'',
        goodsIntro:'',
        gtypeId:null,
        bizId:null,
        goodsSum:0,
        goodsPrice:0,
        goodsImg:'',
    }
    var createOrUpdate={
        gtypeOptions:[],
        bizOptions:[],
        gtypeValue:[],
        bizValue:"",
    }
    var data = {
        tableData: [],
        createOrUpdate:createOrUpdate,
        totalNums: 0,
        pageSize: 10,
        currentPage: 1,
        key: '',
        dialogFormVisible: false,
        dialogTitle: '',
        goods:goods,
        formLabelWidth: '120px'
    }
    var app = new Vue({
        el: "#tb",
        data: data,
        created() {
            this.getData();
            this.getGoodsOption();
        },
        methods: {

            getData() {
                axios.get('http://localhost:8002/goods/getGoodsByPage', {
                    params: {
                        'pageSize': this.pageSize,
                        'pageNum': this.currentPage,
                        'key': this.key,
                    }
                }).then((res) => {
                    var data = res.data;
                    console.log(res)
                    if (data.code == "20000") {
                        var pageUtils = data.data.goodsPage;
                        this.tableData = pageUtils.list;
                        this.totalNums = pageUtils.totalCount;
                        this.pageSize = pageUtils.pageSize;
                        this.currentPage = pageUtils.currPage;
                    } else {
                        this.changepage(this.currentPage - 1)
                    }
                })

            },
            changepage(currentPage) {
                this.currentPage = currentPage;
                this.getData();
            },
            handleEdit(row) {
                goods.id = row.id
                goods.goodsName=row.goodsName
                goods.goodsIntro=row.goodsIntro
                goods.gtypeId=row.gtypeId
                goods.bizId=row.bizId
                goods.goodsSum=row.goodsSum
                goods.goodsPrice=row.goodsPrice
                goods.goodsImg=row.goodsImg
                this.dialogTitle = '编辑';
                this.dialogFormVisible = true
            },
            getGoodsOption(){
                axios.all([
                    axios.get('http://localhost:8002/biz/getAll'),
                    axios.get('http://localhost:8002/gtype/getAll')
                ]).then(
                    axios.spread((bizOptions,gtypeOptions)=>{
                        var bizData = bizOptions.data
                        var gtypeData = gtypeOptions.data
                        console.log("bizData:"+bizData)
                        console.log("gtype:"+gtypeData)
                        if (bizData.success){
                            this.createOrUpdate.bizOptions=bizData.data.bizs
                        }else {
                            alert(bizData.message)
                        }
                        if (gtypeData.success){
                            this.createOrUpdate.gtypeOptions=gtypeData.data.gtypeOptions
                        }else {
                            alert(gtypeData.message)
                        }
                    })
                )
            },
            getGoodsValue(){

            },
            handleAdd() {
                goods.id = null
                goods.goodsName=''
                goods.goodsIntro=''
                goods.gtypeId=null
                goods.bizId=null
                goods.goodsSum=0
                goods.goodsPrice=0
                goods.goodsImg=''
                createOrUpdate.gtypeValue=[]
                createOrUpdate.bizValue=""
                this.dialogTitle = '添加';
                this.dialogFormVisible = true
            },
            saveOrCreate() {
                axios.get('http://localhost:8888/classes', {
                    params: {
                        'method': 'saveOrCreate',
                        'id': classes.id,
                        'classes_name': classes.classes_name,
                        'college_id': classes.college_id,
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.code == "20000") {
                        this.$message({
                            message: data.message,
                            type: 'success'
                        });
                    } else {
                        this.$message.error(data.message);
                    }
                    this.dialogFormVisible = false
                    this.getData();
                })
            },
            handleDelete(row) {
                axios.get('http://localhost:8888/classes', {
                    params: {
                        'method': 'delete',
                        'id': row.id,
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.code == "20000") {
                        this.$message({
                            message: data.message,
                            type: 'success'
                        });
                    } else {
                        this.$message.error(data.message);
                    }
                    this.getData();
                })
            },
        },
    });
</script>
</html>