<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elf.mapper.AclPermissionMapper">
    <resultMap id="TreeResultAclPermission" type="AclPermissionDto">
        <id property="id" column="id"/>
        <result property="label" column="name"/>
        <collection property="children"
                    ofType="AclPermissionDto"
                    column="id"
                    javaType="java.util.ArrayList"
                    select="com.elf.mapper.AclPermissionMapper.getTreeList"
        />
    </resultMap>



    <select id="getPermissionListByRoleId" resultMap="TreeResultAclPermission" parameterType="String">
        select * from acl_permission
        where id in
              (select permission_id from acl_role_permission where role_id = #{roleId})
        and pid = 1
    </select>


    <select id="getTreeList" resultMap="TreeResultAclPermission" parameterType="String">
        select * from acl_permission where pid = #{arg0}
    </select>

    <insert id="addPermission" parameterType="AclPermission">
        insert into acl_permission (id,pid, name, type, permission_value, path, component, icon, status, is_deleted, gmt_create, gmt_modified)
         values (#{id},#{pid},#{name},#{type},#{permissionValue},#{path},#{component},#{icon},#{status},#{isDeleted},#{gmtCreate},#{gmtModified})
    </insert>

    <update id="updateById" parameterType="AclPermission">
        update acl_permission
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="path != null and path != null">
                path = #{path},component = #{component}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>