<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elf.mapper.AclUserMapper">

<!--

    List<AclUser> selectAll();

    AclUser selectById(String id);
    Integer insertAclUser(AclUser aclUser);

    Integer updateAclUser(AclUser aclUser);
    -->


    <select id="selectAll" resultType="AclUserDto">
        select u.id, u.username, u.password, u.nick_name, u.salt, u.token, u.is_deleted, u.gmt_create, u.gmt_modified, aur.role_id
        from acl_user u inner join acl_user_role aur on u.id = aur.user_id
    </select>

    <insert id="insertAclUser" parameterType="AclUserDto">
        insert into acl_user (id, username, password, nick_name, salt, token, is_deleted, gmt_create, gmt_modified) VALUES
        (#{id},#{username},#{password},#{nickName},#{salt},#{token},#{isDeleted},#{gmtCreate},#{gmtModified})
    </insert>

    <insert id="insertAclUserRole" parameterType="AclUserDto">
        insert into acl_user_role (id, role_id, user_id, is_deleted, gmt_create, gmt_modified) VALUES
        (#{id},#{roleId},#{id},#{isDeleted},#{gmtCreate},#{gmtModified})
    </insert>

    <update id="updateAclUser" parameterType="AclUserDto">
        update acl_user au,acl_user_role aur
        <set>
            <if test="username != null and username != ''">
                au.username = #{username},
            </if>
            <if test="password != null and password != ''">
                au.password = #{password},
            </if>
            <if test="nickName != null and nickName != ''">
                au.nick_name = #{nickName},
            </if>
            <if test="salt != null and salt != ''">
                au.salt = #{salt},
            </if>
            <if test="token != null and token != ''">
                au.token = #{token},
            </if>
            <if test="gmtModified != null and gmtModified != ''">
                au.gmt_modified = #{gmtModified},
            </if>
            <if test="roleId != null and roleId != ''">
                aur.role_id = #{roleId},
            </if>
        </set>
            where au.id = aur.user_id and au.id = #{id}
    </update>

</mapper>